:root {
  --bgc: #101010;
  --color: white;
  --ff: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: var(--ff);
  background-color: var(--bgc);
  color: var(--color);
}
