:root {
  --bgc: #101010;
  --color: white;
  --ff: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--ff);
  background-color: var(--bgc);
  color: var(--color);
}
